<style type="text/css">
.page{
height: 100%;
width: 100%;
background: black;
padding-top: 5%;
padding-bottom: 5%;


}

.entity {
height: 100px;
width: 200px;
margin: 5px;
float:left;
background: #5e5e5e;
#clear: both;
display: block;
}

.mainPanel{
width: 100%;
height: 90%;
#background-image:url('http://selulargroup.id.rakuten-static.com/tab2_7inch.jpg');
#background-repeat:repeat;
background: white;
overflow-x: auto;
overflow-y: hidden;
margin-left: 5%;
}

.leftbar {
float: left;
width: 5%;
background-color: rgba(255, 255, 255, 0.8);
height: 100%;
z-index: 3000;
}

.video-name {
  text-align: center;
  color: #000000;
}
.rightbar {
float: right;
width: 5%;
background: blue;
height: 100%;
background-color: rgba(255, 255, 255, 0.8);
z-index: 3000;
}

.sub-head {
  margin-left: 30px;
  margin-bottom: 5px;
  font-family: 'Prosto One', cursive;
}

.closeBtn {
  z-index: 1000;
  display: none;
  margin-top: 10px;
  margin-left: 30px;
  position: absolute;
}

</style>
<div class="well">
  <div class="sub-head">
    <h2><%= @bundle["bundle_name"] if @bundle %></h2>
    <h4>  <%= @bundle["videos"].count %>  Videos  </h4>
    <a role="button" data-toggle="modal" href="#newVideoForm"> + Add Video </a>
  </div>
</div>

   <div class="mainPanel">
     <div class="rightbar">
     </div>
     <div class="leftbar">
     </div>
     <% @videos.each do | video |%>
       <!-- <div><a href="javascript:void(0)" class="closeBtn">X</a><span class="entity"><img src="<%= video["display_picture"]%>"></span></div> -->
       <div>
         <span class="entity"><img src="<%= video["display_picture"]%>"></span>
       </div> 
     <% end %>
  </div>

<div id="newVideoForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="well">
    <%= form_tag('/videos', :method => "post") do %>
      <fieldset>
        <legend> Add new video to  <b><%= @bundle["bundle_name"]  %> </b>bundle</legend>
        <%= hidden_field_tag("user_id" , @user["uid"]) %>
        <%= hidden_field_tag("bundle_id" , @bundle["bid"]) %>
        <label>Video Title </label>
        <%= text_field_tag('vname', "", :autofocus => "true", :autocomplete => "off") %>
        <label>Video link </label>
        <%= text_field_tag('vlink', "", :autocomplete => "off") %><br>
        * make sure the format is http://www.youtube.com/watch?v=cmSbXsFE3l8 <br><br>
        &nbsp;<%= submit_tag '+ Add' , :class => "btn btn-success", :style => "margin-top: -12px;" %>
      </fieldset>
    <% end %>
  </div>
</div>

<script>
    function resetInitialView() {
        $('.entity').each(function(index){
          var rand = '#'+ Math.floor(Math.random()*16777215).toString(16)
          //$(this).css("background", rand);
          /* $(this).css("height",100 + Math.floor(Math.random() * 100));
          $(this).css("width", 150 + Math.floor(Math.random() * 50));
          *///console.log("color changed" + rand);
          $(this).css("height",150);
          $(this).css("width", 200);
       }); 
    }
    
    function resetInStyle() {
      $('.entity').each(function(index){
        var rand = '#'+ Math.floor(Math.random()*16777215).toString(16)
        //$(this).css("background", rand);
        /*  $(this).css("height",100 + Math.floor(Math.random() * 100));
        $(this).css("width", 150 + Math.floor(Math.random() * 50)); */
        $(this).css("height",150);
        $(this).css("width", 200);
        $(this).fadeTo("slow", 1);
        $(this).css("float", "left");
        //console.log("color changed" + rand);
      });
    }
    
    $(document).ready(function(){
      resetInitialView();
     });
 
    $(".closeBtn").click(function(){
     // TODO will use in future 
      resetInStyle();
      $(this).hide();
    });
    
    function hideCloseBtn(ngBtn) {
     // TODO will use in future 
      cosole.log(ngBtn);
      $('.closeBtn').each(function(index){
        if(ngBtn != this) {
          $(this).hide();
        }
      });
    }

    
    $('.entity').click(function(){
        $(this).animate({
            height: 465,
            width: 615,
            opacity: 1
        }, 600, function() {
            //$(this).fadeTo(100, 1);
            //$(this).css("float","right");
            var pageWidth = parseInt($(".mainPanel").css("width"), 10) / 2;
            var leftOffset = parseInt($(this).offset().left, 10);
            
            if(leftOffset > pageWidth ){
                //$(this).css("float","right");
            } else {
                //$(this).css("float","left");
            }
            
            //if ($(this).css("margin-right"))
        });
        $(this).prevAll(".closeBtn").show();
        $(this).css("height", "300px");
        $(this).css("width", "350px");      
        var thisvar = this;
         $('.entity').each(function(index){
                  if(this != thisvar) {
                  var rand = '#'+ Math.floor(Math.random()*16777215).toString(16)
                  //$(this).css("background", rand);
                 /*  $(this).css("height",100 + Math.floor(Math.random() * 100));
                  $(this).css("width", 150 + Math.floor(Math.random() * 50)); */
                  $(this).css("height",150);
                  $(this).css("width", 200);
                  $(this).fadeTo("fast", 0.3);
                  $(this).css("float", "left");
                  //console.log("color changed" + rand);
                  }
               });
        //hideCloseBtn($(this).prevAll(".closeBtn"));
    });
</script>
 <%= @bundle.to_json %> <br><br>
 <%= @videos.to_json %>