<!DOCTYPE html>
<html>
<head>
  <title>Vindle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<% if @user %>
  <a href="/auth/logout" class="btn btn-danger">Logout</a>
<% end %>
<%= yield %>

</body>
</html>
